<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.png">
    <title>SiCovid19</title>
</head>

<body>
    <header>
        <nav class="container-lg navbar navbar-expand-lg navbar-light bg-white">

            <a class="navbar-brand" href="/">
                <img src="./icons/covid19-virus-1.svg" class="brand-logo">
                SiCovid19</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#protokol">Protokol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#vaksinasi">Vaksinasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/forum">Forum</a>
                    </li>
                    <ul class="btn-wrapper align-items-lg-center navbar-nav ml-0 ml-md-4 mt-3 mt-md-0">
                        <li class="nav-item mr-0 mr-lg-2 mb-2 mb-lg-0">
                            <a class="nav-link btn btn-login" href="#/login">Masuk</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-signin" href="#/signin">Daftar</a>
                        </li>
                    </ul>
                </ul>
            </div>

        </nav>
    </header>
    <div class="container-lg">
        <main id="mainContent">

        </main>
    </div>
    <footer class="text-center text-white p-5">
        <div class="container">
            <p class="m-0">Copyright 2022 @Sicovid19</p>
        </div>
    </footer>
</body>

</html>